<nav class="navbar navbar-expand-lg bg-body-tertiary sticky-top">
    <div class="container-fluid">
        <img src="/shirts/logo.png" alt="Infinity Logo" width="100px">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse mx-4" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="/home"  routerLinkActive=" shadow-sm bg-body rounded">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="/products"  routerLinkActive=" shadow-sm bg-body rounded">Products</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="/design"  routerLinkActive=" shadow-sm bg-body rounded" >Design T-shirt</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="/aboutus"  routerLinkActive=" shadow-sm bg-body rounded">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="/contactus" routerLinkActive=" shadow-sm bg-body rounded">Contact Us</a>
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="/addProducts"  routerLinkActive=" shadow-sm bg-body rounded">ADD</a>
                </li> -->
            </ul>
        </div>
    </div>
</nav>