<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">

<div class="container mt-5">
    <div class="row ">
        <!-- Product Images -->
        <div class="col-md-6 mb-4">
            <img src="{{data.photos[0]}}" alt="Product" class="img-fluid rounded mb-3 product-image main" id="mainImage">
            <div class="d-flex justify-content-center gap-3">
                <img *ngFor="let photo of data.photos" src="{{photo}}" alt="Thumbnail 1" class="thumbnail rounded active">
            </div>
        </div>
        <!-- Product Details -->
        <div class="col-md-6">
            <h2 class="mb-3">{{data.name}}</h2>
            <div class="mb-3">
                <span class="h4 me-2">${{data.price}}</span>
            </div>
            <!-- description -->
            <p class="mb-4">{{data.description}}</p>
            <button class="btn btn-lg mb-3 me-2" [routerLink]="['/order', id]" [state]="{ product: data }">
                <i class="bi bi-cart-plus"></i> Order 
            </button>
        </div>
    </div>
</div>